{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>anchor tag</title>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <center>
        <h3>
            <a href="" id="home">Top of the page</a>
            <a href="https://www.w3schools.com/" target="_blank">home</a>
            <a href="https://www.discudemy.com/category/python" target="_self">about</a>
            <a href="https://www.amazon.in/?&ext_vrnc=hi&tag=googhydrabk1-21&ref=pd_sl_5szpgfto9i_e&adgrpid=58
            075519359&hvpone=&hvptwo=&hvadid=486462756374&hvpos=&hvnetw=g&hvrand=15270957222620067100&hvqmt=e&hvdev=c
            &hvdvcmdl=&hvlocint=&hvlocphy=9061995&hvtargid=kwd-64107830&hydadcr=14452_2154371&gclid=Cj0KCQiA8aOeBhCWA
            RIsANRFrQGSoXRcJVp310yxFHguOtuc8zWZFWhnxxBLnYxOgo_LwXJqPjpzAe4aAouOEALw_wcB" target="_blank">career</a>

            <a href="#bottom">bottom</a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum iure cum est laboriosam sunt porro
                debitis et
                enim perferendis ex libero nobis, esse aut sapiente ipsam. Numquam, laboriosam, voluptates ut, labore
                dolor
                cumque vero eos necessitatibus neque laborum id nulla iusto commodi fugit voluptatem voluptatum quos
                nostrum
                excepturi in architecto qui. Error sint hic at. Possimus voluptatem consequuntur maxime omnis aliquid
                expedita
                asperiores perferendis dolorem id dolorum, modi officiis, mollitia assumenda ratione nesciunt earum
                dicta
                obcaecati, perspiciatis odit eaque nisi. Magni similique rem maxime dolore eum id ducimus, placeat
                obcaecati
                culpa repellat possimus fuga minima voluptatem quia, minus itaque unde quisquam distinctio a
                necessitatibus
                suscipit! Quasi nemo illum labore ex! Voluptatibus fuga molestias, consectetur labore, ex delectus
                voluptas
                dolorum voluptatem, qui vero saepe perspiciatis nisi aliquid necessitatibus eaque tempora architecto
                nemo.
                Reprehenderit pariatur mollitia aperiam iusto dolorem expedita, dolores beatae voluptas iste ut id
                quibusdam
                dicta cupiditate soluta, ratione ducimus assumenda nesciunt! Sunt molestias dignissimos nobis atque
                ipsum
                perferendis amet deleniti? Doloremque veritatis dignissimos ipsam sit, omnis, quasi voluptates ullam
                molestias
                dolorem, voluptate perferendis dolore reprehenderit itaque quibusdam animi culpa! Nobis ad tempora
                reprehenderit
                distinctio voluptatem, beatae asperiores eos dignissimos esse nam. Natus et unde est fugit! Delectus
                omnis atque
                ratione ab veritatis quasi distinctio saepe quis! Eos accusamus enim earum perspiciatis ipsa dolores
                perferendis
                neque, rerum impedit, fugiat quisquam repellat. A deleniti ipsam magni, et cupiditate cumque velit ad
                facere
                ullam placeat nostrum, minus aperiam tenetur dolores! Hic sequi quas quos deleniti voluptate, reiciendis
                voluptatem. Libero corrupti, vel aperiam quis fugit quisquam exercitationem accusamus illo velit
                debitis. Quos
                explicabo ea assumenda quaerat dolorum nobis incidunt ab facere voluptatum, repellat perspiciatis
                expedita! Vero
                a laborum, dolore consectetur inventore maxime nobis sint minus itaque, veritatis vitae accusantium?
                Debitis,
                soluta. Dolor accusantium quia impedit cumque voluptas ullam corporis facilis! Soluta nam dolorem rerum
                deserunt
                odit. Quam a ipsa iure ducimus id explicabo error alias illo, facere ipsam quo vel laudantium reiciendis
                optio.
                Consectetur nisi eius, soluta illum provident veniam perferendis reiciendis placeat exercitationem eos
                earum est
                ex ullam quasi natus. Voluptate iusto similique eum voluptatem eaque, nemo ut rerum perspiciatis odit
                perferendis laborum minus harum veritatis explicabo reiciendis quae omnis iste consectetur ipsa
                inventore
                voluptatum maiores. Assumenda minus fugiat voluptatem in excepturi quod tempora aliquam sapiente
                nostrum?
                Aperiam unde ratione perspiciatis voluptatibus. Vel exercitationem distinctio placeat ipsam quasi neque,
                impedit
                quam esse, dolore asperiores eius illum alias! Officia aperiam repellendus cumque aspernatur corrupti
                excepturi
                voluptatum nam recusandae suscipit dolores! Qui iste iusto mollitia asperiores, animi soluta quasi
                voluptatibus,
                eligendi possimus tempore, earum fugit enim molestias velit nisi aut sapiente numquam. Perspiciatis
                tempore
                animi facere amet! Sequi consectetur, dignissimos necessitatibus id laborum quae voluptates dolore fugit
                esse,
                nihil aspernatur mollitia debitis ducimus quaerat quas! Recusandae, nemo repellat aliquid labore optio
                ab
                cupiditate dolorem quos porro. Quisquam quae corporis animi qui provident, magni inventore architecto?
                Ipsum
                eaque perferendis corporis adipisci inventore, nostrum voluptatum soluta debitis? Voluptatum hic
                distinctio
                optio tenetur. Tempore at nulla optio expedita similique aut! Nesciunt perspiciatis numquam pariatur
                harum?
                Rerum, explicabo?</p>
            <a href="#home" id="bottom">contact</a>

        </h3>
    </center>
</body>

</html>